/* ===== Estilo Geral ===== */
body {
    font-family: Arial, sans-serif;
    background-image: url("mountain-landscape-5120x2880-24317.jpg");
    background-size: cover;
    background-position: center;
    background-color: blueviolet; /* Apenas se a imagem não carregar */
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* ===== Título Principal ===== */
.titulo {
    font-size: 60px;
    color: rgb(14, 133, 231);
    text-align: center;
    margin: 40px 20px 20px 20px;
    border-radius: 15px 30px 15px 15px;
}

/* ===== Subtítulo Principal ===== */
.subtitulo {
    font-size: 50px;
    color: rgb(240, 240, 240);
    text-align: center;
}

/* ===== Estrutura das Seções ===== */
section {
    background: rgba(0, 0, 0, 0.4); /* Transparência para leitura melhor */
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    backdrop-filter: blur(3px); /* efeito bonito */
}

/* ===== Subtítulos de Seção ===== */
.subtitulo1, .subtitulo2 {
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* ===== Parágrafos ===== */
.paragrafo1, .paragrafo2 {
    font-size: 30px;
    color: rgb(239, 241, 242);
    text-align: justify;
    margin: 20px 0;
}

/* ===== Links Dentro dos Parágrafos ===== */

.link1,
.link2 {
    font-size: 30px;
    color: rgb(241, 244, 245);
}

.link1 a,
.link2 a {
    color: rgb(13, 230, 215);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.link1 a:hover,
.link2 a:hover {
    color: rgb(8, 90, 243);
    text-decoration: underline;
}

.link1 a:active {
    color: rgb(240, 144, 9);
}

.link2 a:active {
    color: rgb(201, 6, 6);
}

/* ===== Créditos Flaticon ===== */
.ref {
    font-size: 30px;
    color: rgb(5, 195, 237);
    text-align: right;
    margin: 30px 20px;
    display: block;
}
.ref a {
    color: rgb(13, 230, 215);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.ref a:hover {
    color: rgb(8, 239, 243);
    text-decoration: underline;
}
.ref a:active {
    color: rgb(240, 144, 9);
}

/* ===== Barra de Progresso ===== */
progress {
    width: 90%;
    height: 18px;
    margin: 20px auto;
    display: block;
}
