body {
    font-family: Arial, sans-serif;
    background-image: url("mountain-landscape-5120x2880-24317.jpg");
    background-size: cover;
    background-position: auto;
    background-color: blueviolet;
    font-size: 50px;
    text-align: center;

    color: rgb(62, 201, 247);
}

h3 {
    color: rgb(62, 201, 247);
    font-size: 60px;
    text-align: left;
    margin-top: 60px;
    align-items: image-center;
    margin-left: 80px;
    padding: 20px;
    display: flex;
    gap: 20px;
}