body {
    font-family: Arial, sans-serif;
    background-image: url("mountain-landscape-5120x2880-24317.jpg");
    background-size: cover;
    background-position: center;
    background-color: blueviolet;
    font-size: 16px;
    text-align: left;

}

.titulo {
    font-size: 60px;
    color: rgb(14, 133, 231);
    text-align: center;
    padding-top: 40px;
    border-radius: 15px;
    border-top-right-radius: 30px;
}

.subtitulo {
    font-size: 50px;
    color: rgb(240, 240, 240);
    text-align: center;
    text-decoration-color: #4a90e2;
    text-decoration-thickness: 4px;
}

.subtitulo1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.paragrafo1 {
    font-size: 30px;
    color: rgb(239, 241, 242);
    text-align: justify;
    margin: 20px;
    display: block;
    gap: 50px;
}

.subtitulo2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 20px;
    display: block;
    align-items: center;
    gap: 10px;
}

.paragrafo2 {
    font-size: 30px;
    color: rgb(239, 241, 242);
    text-align: justify;
    margin: 20px;
    display: block;
    gap: 50px;
}

.ref {
    font-size: 20px;
    color: rgb(200, 200, 200);
    text-align: right;
    margin: 30px;
    display: block;
    gap: 10px;
}